{% extends 'Avis/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Modifier un avis</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="mt-4">
            <button class="btn btn-primary" type="submit">Mettre à jour</button>
            <a href="{% url 'index' %}" class="btn btn-warning">Accueil</a>
            <a href="{% url 'avis_list' %}">Retour à la liste</a>
        </div>
    </form>
</div>

{% endblock %}